<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link type="text/css" href="../1.css" rel="stylesheet" media="screen" />
<title>No.1 :: CSS Template :: XTML 1.0 Transitional</title>
<link rel="shortcut icon" href="http://monorom.com/favicon.ico" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
}
-->
</style>
<link href="/fantasydb/template-1/1.css" rel="stylesheet" type="text/css" />
<link href="/fantasydb/template/1.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
	<div id="banner" ><a href="http://www.intensivstation.ch"><img src="/fantasydb/fdb.gif" width="414" height="66" /></a>
 		<h1 class="TopAndBottomSpacers">created for and by competitors like you </h1>
  </div>
	<div id="left">
		<p align="center" class="style1">FantasyDB Navigation </p>
		<div align="center">
		  <table width="93%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center"><a href="Manage.php" class="download"><strong>Manage my team </strong></a></td>
            </tr>
            <tr>
              <td align="center"><a href="AddMember.php"><strong>Browse Competitors</strong></a> </td>
            </tr>
            <tr>
              <td align="center"><a href="ViewTeams.php"><strong>Browse competitor's teams</strong></a></td>
            </tr>
          </table>
	  </div>
	</div>
	<div id="content">
	  <p>&nbsp;</p>
	  <p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
  </div>
 	<div id="footer">
 	  <h1 class="TopAndBottomSpacers">copyright scott rehlander technologies all rights reserved 2007 </h1>
 	</div>
</div>
</body>
</html>